<div class="container bg-light py-5 px-5">
    <h1 class="display-2 fw-bold" style="text-align: center;" >Welcome to "QUIZ APP"</h1>
    <p class="intro fs-4 py-3">This quiz will contains total 10 questions.Each question holds 10 points</p>
    
    <h4>Rules :</h4>
    <ul style="padding-left: 100px;">
        <li>Correct Question gives you 10 points</li>
        <li>Incorrect question gives to -10 points</li>
        <li>You will have 45 seconds to answer each question</li>
        <li>Refreshing the page will reset the quiz</li>
    </ul>

    <h1 style="font-family: cursive; text-align:center">All The Best!!</h1>

    <div class="name col-md-3 my-3">
        <label for="">Enter your name :</label>
        <input type="text" class="form-control">
    </div>

    <button class="btn btn-primary btn-lg" routerLink="/question">Start the Quiz!!</button>
</div>